@page "/ChildAmoView/{Id:int}"
@using GraphQLClient.DataAccess
@using GraphQLClient.DataAccess.Model

@inject NavigationManager NavigationManager
<h3>Задолжености</h3>
<div>
    <div class="form-group">
        Задолжености:<InputText readonly id="amo" Value="amo"
                                class="form-control" />
    </div>
</div>
<a href="/ChildView">Назад</a>
@code {
    [Parameter]
    public int? Id { get; set; }
    private decimal amo;
    protected override async Task OnInitializedAsync()
    {
        string completeQuery = "query{getChildAmo(id:" + Id + ")";
        string qraphQLQueryType = "getChildAmo";
        var result = await Query.ExceuteQueryAsyn<decimal>(qraphQLQueryType, completeQuery);
        if (result == null)
        {
            NavigationManager.NavigateTo($"ChildView");
        }
        amo = result!;
    }
}
