@page "/ChildView"
@using BlazorBootstrap
@using GraphQLClient.DataAccess
@using GraphQLClient.DataAccess.Model
@using System.ComponentModel.DataAnnotations
@using System.Drawing


@inject NavigationManager NavigationManager

<h3>Список детей</h3>
@if (AllChildren.Count == 0)
{
    <p><em>Loading ....</em></p>
}

else
{
    <Grid TItem="ChildReturnModel"
          Class="table table-hover table-bordered table-striped"
          DataProvider="ChildrdenDataProvider"
          AllowPaging="true"
          AllowFiltering="true"
          AllowSorting="true"
          AutoHidePaging="true"
          PageSize="10"
          PageSizeSelectorVisible="true"
          PageSizeSelectorItems="@(new int[] { 5,10,20 })"
          Responsive="true">
        <GridColumns>
            <GridColumn TItem="ChildReturnModel" HeaderText="Имя" PropertyName="Name" SortKeySelector="item => item.Name">
                @context.Name
            </GridColumn>
            <GridColumn TItem="ChildReturnModel" HeaderText="Дата рождения" PropertyName="BirhDate" SortKeySelector="item => item.BirhDate" TextAlignment="Alignment.Center">
                @context.BirhDate
            </GridColumn>
            <GridColumn TItem="ChildReturnModel" HeaderText="Родитель" PropertyName="Name" SortKeySelector="item => item.Parent!.Name">
                @context.Parent!.Name
            </GridColumn>
            <GridColumn TItem="ChildReturnModel" HeaderText="Редактирование" PropertyName="ChildId" Filterable=false TextAlignment="Alignment.Center">
                <a href="/EditChild/@context.ChildId"><img src="images/edit.png" class="imgEmployer" /></a>
            </GridColumn>
            <GridColumn TItem="ChildReturnModel" HeaderText="Удаление" PropertyName="ChildId" Filterable=false TextAlignment="Alignment.Center">
                <a href="/DeleteChild/@context.ChildId"><img src="images/delete.png" class="imgEmployer" /></a>
            </GridColumn>
            <GridColumn TItem="ChildReturnModel" HeaderText="Карточка ребенка" PropertyName="ChildId" Filterable=false TextAlignment="Alignment.Center">
                <a href="/TaskOneView/@context.ChildId"><img src="images/card.png" class="imgEmployer" /></a>
            </GridColumn>
            <GridColumn TItem="ChildReturnModel" HeaderText="Выполненые платежи ребенка" PropertyName="ChildId" Filterable=false TextAlignment="Alignment.Center">
                <a href="/TaskOneView/@context.ChildId"><img src="images/card.png" class="imgEmployer" /></a>
            </GridColumn>
            <GridColumn TItem="ChildReturnModel" HeaderText="Выполненые платежи ребенка" PropertyName="ChildId" Filterable=false TextAlignment="Alignment.Center">
                <a href="/ChildPayView/@context.ChildId"><img src="images/card.png" class="imgEmployer" /></a>
            </GridColumn>
        </GridColumns>
    </Grid>
    <a href="/CreateChild" class="btn btn-primary">Создать ребенка</a>
}

@code {
    private List<ChildReturnModel> AllChildren = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string completeQuery = "query{allChildWithParent{name,parentId, childId,birhDate,parent{name}}}";
            string qraphQLQueryType = "allChildWithParent";
            var result = await Query.ExceuteQueryReturnListAsyn<ChildReturnModel>(qraphQLQueryType, completeQuery);
            AllChildren = result;
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }
    private async Task<GridDataProviderResult<ChildReturnModel>> ChildrdenDataProvider(GridDataProviderRequest<ChildReturnModel> request)
    {
        return await Task.FromResult(request.ApplyTo(AllChildren));
    }
}
