@page "/"

<PageTitle>Задание</PageTitle>

<h1>Вариант 1</h1>

<pre>
Разработать информационную систему «Платные услуги детского сада», которая содержит и использует информацию о платных услугах, детях и родителях – потребителях этих услуг, преподавателях, об использовании и оплате платных услуг.
Сервисы, которые должны быть разработаны:
</pre>
<ul>
<li>выдать информацию обо всех услугах детского сада;</li>
<li>вывести список детей, потребляющих заданную услугу; </li>
<li>рассчитать общую стоимость предоставленных услуг;</li>
<li>вывести справку обо всех преподавателях;</li>
<li>сформировать личную карточку ребенка;</li>
<li>сформировать личную карточку преподавателя;</li> 
<li>для ребенка вывести все выполненные платежи;</li>
<li>для ребенка вывести все задолженности по платежам;</li>
<li>рассчитать общую стоимость по заданной услуге.</li>
</ul>

