@page "/TaskTeachView/{Id:int}"
@using GraphQLClient.DataAccess
@using GraphQLClient.DataAccess.Model

@inject NavigationManager NavigationManager
<h3>Карточка учителя</h3>
<div>
        <div class="form-group">
        Имя:<InputText readonly id="name" @bind-Value="teacher.Name"
                           class="form-control" />
        </div>
        <div class="form-group">
        Фамилия:<InputText readonly id="surName" @bind-Value="teacher.SurName"
                             class="form-control" />
        </div>
          <div class="form-group">
        Телефон:<InputText readonly id="phone" @bind-Value="teacher.Phone"
                             class="form-control" />
        </div>
</div>
<a href="/TeacherView">Назад</a>
@code {
    [Parameter]
    public int? Id{ get; set; }
    private TeacherReturnModel teacher = new TeacherReturnModel();
    protected override async Task OnInitializedAsync()
    {
        string completeQuery = "query{teacherById(id:"+Id+"){name,teacherId,surName,phone}}";
        string qraphQLQueryType = "teacherById";
        var result = await Query.ExceuteQueryAsyn<TeacherReturnModel>(qraphQLQueryType, completeQuery);
        if (result == null)
        {
            NavigationManager.NavigateTo($"TeacherView");
        }
        teacher = result!;
    }
}
