@page "/TaskTeachView/{Id:int}"
@using GraphQLClient.DataAccess
@using GraphQLClient.DataAccess.Model

@inject NavigationManager NavigationManager
<h3>Карточка учителя</h3>
<div>
        <div class="form-group">
        Имя:<InputText readonly id="name" Value="teacher.Name"
                           class="form-control" />
        </div>
        <div class="form-group">
        Фамилия:<InputText readonly id="surName" Value="teacher.SurName"
                             class="form-control" />
        </div>
         <div class="form-group">
        Отчество:<InputText readonly id="lastName" Value="teacher.LastName"
                             class="form-control" />
        </div>
         <div class="form-group">
        Специальность:<InputText readonly id="specialty" Value="teacher.Specialty"
                             class="form-control" />
        </div>
          <div class="form-group">
        Телефон:<InputText readonly id="phone" Value="teacher.Phone"
                             class="form-control" />
        </div>
</div>
<a href="/TeacherView">Назад</a>
@code {
    [Parameter]
    public int? Id{ get; set; }
    private TeacherReturnModel teacher = new TeacherReturnModel();
    protected override async Task OnInitializedAsync()
    {
        string completeQuery = "query{getTeacherById(id:" + Id + "){teacherId,name,surName,lastName,specialty,phone}";
        string qraphQLQueryType = "getTeacherById";
        var result = await Query.ExceuteQueryAsyn<TeacherReturnModel>(qraphQLQueryType, completeQuery);
        if (result == null)
        {
            NavigationManager.NavigateTo($"TeacherView");
        }
        teacher = result!;
    }
}
