@page "/TaskOneView/{Id:int}"
@using GraphQLClient.DataAccess
@using GraphQLClient.DataAccess.Model

@inject NavigationManager NavigationManager
<h3>Карточка ребенка</h3>
<div>
    <div class="form-group">
        Имя:<InputText readonly id="name" @bind-Value="child.Name"
                           class="form-control" />
    </div>
    <div class="form-group">
            Дата рождения:<input type="date" id="birhDate" readonly @bind="child.BirhDate"
                             class="form-control"/>
        </div>
        <div class="form-group">
        Родитель:<InputText readonly @bind-Value="child.Parent.Name"
                                   class="form-control"/>
        </div>
</div>
<a href="/ChildView">Назад</a>
@code {
    [Parameter]
    public int? Id{ get; set; }
    private ChildReturnModel child = new ChildReturnModel();
    private IEnumerable<ParentReturnModel>? parentList;
    protected override async Task OnInitializedAsync()
    {
        parentList = await GetParents();
        string completeQuery = "query{childById(id:" + Id + "){childId,name,birhDate,parent{name,parentId}}}";
        string qraphQLQueryType = "childById";
        var result = await Query.ExceuteQueryAsyn<ChildReturnModel>(qraphQLQueryType, completeQuery);
        if (result == null)
        {
            NavigationManager.NavigateTo($"ChildView");
        }
        child = result!;
        child.Parent.Name = result!.Parent!.Name;
    }
    private async Task<IEnumerable<ParentReturnModel>> GetParents()
    {
        try
        {
            string query = "query{allParentOnly{parentId,name}}";
            string graphQLQueryType = "allParentOnly";
            return await Query.ExceuteQueryReturnListAsyn<ParentReturnModel>(graphQLQueryType, query);
        }
        catch (Exception)
        {
            throw;
        }

    }
}
